spring:
  application:
    name: token-brutal
  datasource:
    driver-class-name: org.postgresql.Driver
    url: 'jdbc:postgresql://localhost:5432/postgres?currentSchema=token'
    username: 'postgres'
    password: '12345'
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6379
      password: '12345'
  threads:
    virtual:
      enabled: true
server:
  port: 8888
